@import url("https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css");
@import url("https://use.typekit.net/jny2shi.css");
.minicartWrapperContainer {
  width: 100%;
  height: auto;
  display: flex;
  margin-left: 30px;
  justify-content: center; }
  .minicartWrapperContainer :first-child {
    width: auto;
    height: 100%; }
  @media (max-width: 767px) {
    .minicartWrapperContainer {
      margin: 0; } }
  .minicartWrapperContainer .minicartContainer .openIconContainer {
    padding: 0; }
    @media (max-width: 767px) {
      .minicartWrapperContainer .minicartContainer .openIconContainer {
        padding: 0; } }
    .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) {
      border: 0; }
      @media (max-width: 767px) {
        .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) {
          padding: 0;
          min-height: auto;
          background-color: #fff; } }
      .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) :global(.vtex-button__label) {
        padding: 0; }
        .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) :global(.vtex-button__label) .minicartIconContainer::before {
          width: 16px;
          height: 16px;
          content: " ";
          display: block;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-shopping-cart align-middle'%3E%3Ccircle cx='9' cy='21' r='1'%3E%3C/circle%3E%3Ccircle cx='20' cy='21' r='1'%3E%3C/circle%3E%3Cpath d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6'%3E%3C/path%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 16px; }
        .minicartWrapperContainer .minicartContainer .openIconContainer :global(.vtex-button) :global(.vtex-button__label) .minicartIconContainer .cartIcon {
          display: none; }

.drawer {
  max-width: 40% !important; }

.minicartCheckoutButton :global(.vtex-button) {
  width: 100%; }
