@import "variables";

.container {
    display: none;
    padding: 20px 30px 30px;
    text-align: right;
    align-items: center;
    @media (max-width: 767px) {
        padding: 15px;
    }
    .link, .term {
        color: $grey;
        font-size: 12px;
        font-weight: $extraLight;
        text-transform: initial;
        &.homeLink {
            display: none;
            margin-bottom: 2px;
            &::before {
                content: "";
                width: 12px;
                height: 12px;
                display: block;
                background-size: 12px;
                background-repeat: no-repeat;
                background-position: center;
                // background-image: url($greyHouseIcon);
            }
            .homeIcon {
                display: none;
            }
        }
    }
    .caretIcon {
        color: $grey;
    }
    .arrow {
        display: flex;
        padding: 0;
        align-items: center;
        &::before {
            content: "/";
            display: block;
            font-size: 13px;
            font-weight: $extraLight;
        }
        .caretIcon {
            display: none;
        }
        &.arrow--1 {
            &::before {
                display: none !important;
            }
        }
    }
}